/* general */
html {
    font-size: .9rem;
}


body {
    margin: 0;
    /* padding: 0; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 570px;
    margin: 0 auto;
}

/* headings */

h1, h2 {
    font-weight: 300;
    margin-top: 0;
}

h1 {
    font-size: 3.75rem;
}

h2{
    font-size: 2.63rem;
    padding: 20px 0;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 1.25rem;
}

h3 {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 0;
}

h1 span, h2 span {
    display: block;
    font-weight: 900;
}

h1 span {
    font-size: 5rem;
}

 h2 span {
    font-size: 3.75rem;
 }

 .accent-text,
 .name,
 time {
    color: #99D930;
    font-weight: 900;
 }

/* links */
.continue {
    color: #99D930;
    /* text-decoration: none; */
    font-weight: 900;
}

.continue:hover,
.continue:focus {
    color: #131313;
}

/* layout */

.small-text {
    font-size: 1rem;
    margin-top: 0;
}


.inverse {
    color: #FFF;
    background-color: #252525;
}

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 2em 0;
}
 
section {
    padding: 6.25em 0;
}

p {
    margin-bottom: 0;
}

.my-work-btn {
    background-color: #99D930;
    color: #252525;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 1.6rem;
    border-radius: 4.6px;
}

.my-work-btn:hover, 
.my-work-btn:active {
    background-color: #252525;
    color: #FFF;
}

.btn-border {
    border: 1px solid #99D930;
}

.portfolio{
    display: flex;
}
/* .container-full-width {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
 */
.portfolio-item img {
    width: 100%;
}


/* media queries*/
@media screen and (min-width: 600px){
    html {
        font-size: 1.3125rem;
    }
}

@media screen and (min-width: 750px){
    .content {
        display: flex;
        padding: 0 auto;
        color: #252525;
    }
    .container {
        width: 85%;
    }
    .articles {
        background:#99D930;
        color: currentColor;
    }
    .accent-text,
    time,
    .continue {
       color: currentColor;
    }

    .name-big {
        color:#99D930;
    }
    .continue:hover,
    .continue:focus {
        color: #fff;
    }
    h2 {
        border-top: 1px solid #252525;
        border-bottom: 1px solid #252525;
    }
    .my-work-btn {
        background:#252525;
        color: #fff;
    }
    .my-work-btn:hover, 
    .my-work-btn:active {
        background-color: #fff; 
        color: #252525;
    }
    .portfolio {
        background: #252525;
        color:white;
    }
    /* .container-full-width {
        max-width: 1200px;
    } */
    .work {
        display: flex;
        justify-content: space-between; 
        /* min-height: 100vh; */
        align-items: center;
    }
    .portfolio-item {
        width: 28%;
    }
    .portfolio {
        padding: 4rem 0 3em;
        display: flex;
        align-items: center;
    }
    .portfolio h2 {
        border-top: 1px solid #99D930;
        border-bottom: 1px solid #99D930;
        }
    .container {
        max-width: 1200px;
    }
    .portfolio img {
        height: 15em;
        object-fit: cover;
    }

}
